@import "config";

$georgia: Georgia, "Times New Roman", Times,serif;

html                      { font-size: 1em; line-height: 1.5em; font-family: $georgia; color: #222; }

h1                        { $size: 36px; margin: 0 0 em($fsz, $size); font-size: em(36px); font-weight: normal;
                            line-height: normal; }
h2                        { $size: 26px; margin: em($fsz, $size) 0 em($fsz, $size); font-weight: normal; }
h3                        { $size: 18px; margin: em(2 *$fsz, $size) 0 em($fsz, $size); }
h4                        { $size: 16px; margin: em(2 *$fsz, $size) 0 em($fsz, $size); }
h5                        { $size: 16px; margin: em(2 *$fsz, $size) 0 em($fsz, $size); }
h6                        { $size: 16px; margin: em(2 *$fsz, $size) 0 em($fsz, $size); }

a                         { color: blue; }
