@import "config";

html                      { margin: 0; padding: 0; }
body                      { margin: 0; padding: 4em 0 0; }

.footer                   { font-size: em(13px); }

.width                    { margin: 0 10%; }
.intro                    { padding-bottom: 2em; }

.stripe                   { padding: 2em 0; }
.stripe.colored           { background: #eee; }
