!!! 5
%html{ lang: 'cs' }
  %head
    %meta{ charset: 'utf-8' }
    %title= head_title @title
    %link{ rel: 'stylesheet', href: '/stylesheets/basic.css' }
    %link{ rel: 'stylesheet', href: '/stylesheets/layout.css' }
    %meta{ name: 'viewport', content: 'width=480' }
    %meta{ name: 'google-site-verification', content: 'SBQvqbRo-fQbA72JKCrWqyNV0IPHSnqnzfHuESGRhwk' }
  %body

    .width
      %h1= @title

    = yield

    .stripe
      .width
        = partial 'application/footer'

    - if current_env == 'production'
      %script{ src: '/javascripts/analytics.js' }
