- title I18n.t('mrmil')

.width.intro
  %p
    Toto je blog o nesmyslech, jste tu správně? Nesmysly píše
    = succeed '.' do
      %a{ href: 'http://www.oldrichvetesnik.cz/' } Oldřich Vetešník

- @articles.each_with_index do |article, index|
  %div.stripe{ class: ('colored' if index % 2 == 0) }
    .width
      = partial 'article', locals: { article: article }
