%p.footer
  (<a href="http://creativecommons.org/licenses/by/3.0/cz/" title="Uveďte autora 3.0 Česko" rel="nofollow">cc</a>)
  2008 – #{ Time.now.year },
  = succeed ',' do
    %a{ href: 'http://www.oldrichvetesnik.cz/' } Oldřich Vetešník
  = succeed '.' do
    %a{ href: '/stranky.rss' } RSS
